repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=50000'] # Prevents accidentally staging LLM weights
    -   id: detect-private-key
    -   id: check-yaml
    -   id: check-json
    -   id: end-of-file-fixer

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*

-   repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0
    hooks:
        - id: terraform_fmt
        - id: terraform_validate
